addict
aliyun-python-sdk-core
aliyun-python-sdk-kms
annotated-types
anyio
appdirs
attrs
blinker
certifi
cffi
charset-normalizer
click
colorama
contourpy
crcmod
cryptography
cycler
filelock
Flask
fonttools
fsspec
h11
httpcore
httpx
huggingface-hub
idna
ijson
importlib_metadata
itsdangerous
Jinja2
jmespath
joblib
jsonschema
kiwisolver
label-studio-ml
label-studio-sdk
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mmengine
model-index
mpmath
networkx
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-python
opendatalab
openxlab
ordered-set
oss2
packaging
pandas
pillow
platformdirs
psutil
py-cpuinfo
pycparser
pycryptodome
pydantic
pydantic_core
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
regex
requests
requests-mock
rich
scipy
seaborn
semver
setuptools
six
sniffio
sympy
tabulate
termcolor
thop
tomli
torch
torchvision
tqdm
typing_extensions
tzdata
ujson
ultralytics @ git+https://github.com/THU-MIG/yolov10.git@aad320dd80b56694e590c950b25060a134966496
ultralytics-thop
urllib3
Werkzeug
xmljson
yapf
zipp
